NODE_ENV=development
PORT=3333
HOST=0.0.0.0
DATABASE_URL=postgresql://user:password@localhost:5432/oliver_db
ADMIN_EMAIL=admin@oliver.com
ADMIN_PASSWORD=cambiame123
CORS_WHITELIST=https://olivercocinaporti.vercel.app,http://localhost:5173,http://localhost:3333
ADMIN_URL=https://admin.olivercocinaporti.com
